<!-- layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Express EJS template</title>
    <link rel="stylesheet" type="text/css" href="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets/styles/gc.spread.sheets.excel2013white.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.grapecity.com/wijmo/5.20211.781/styles/wijmo.min.css">
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets/dist/gc.spread.sheets.all.min.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-shapes/dist/gc.spread.sheets.shapes.min.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-pivot-addon/dist/gc.spread.pivot.pivottables.min.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/spread/source/data/pivot-data.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-tablesheet/dist/gc.spread.sheets.tablesheet.min.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-resources-ko/dist/gc.spread.sheets.resources.ko.min.js" type="text/javascript"></script>
    <script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/spread/source/js/license.js" type="text/javascript"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20211.781/controls/wijmo.min.js" type="text/javascript"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20211.781/controls/wijmo.grid.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
</head>
 
<body>
  <div id="header">
    <%- include('header') %>   
  </div>
  <div class="wrapper">
    <header class="header">
      <div class="logo_div">
        <h1 class="logo"><img src="../images/logo.png" alt="로고"></h1>
      </div>
      <div class="top_div">
        <ul class="loca">
          <li><a href="#" class="ico_home"></a></li>
          <li><%=depth1 %></li>
          <li class="last"><%=depth2 %></li>
        </ul>
        <div class="user_div">
          <p><em>D&T팀</em> Kim Youngeun</p>
          <button class="btn_user ico_edit">Edit</button>
          <button class="btn_user ico_logout">Logout</button>
        </div>
      </div>
    </header>
    <div class="container">
      <%- include('left') %> 
      <div class="content_wrap">
        <%- body %>
      </div>
    </div><!-- //container -->
  </div>
<script>
  datepicker();
  $('#' + '<%=depth1 %>').addClass('on');
  //contentBoxHeight();
</script>
</body>

</html>