<!-- layout.ejs -->
<%- include('header') %> 
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo_div">
        <h1 class="logo"><img src="../images/logo.png" alt="로고"></h1>
      </div>
      <div class="top_div">
        <ul class="loca">
          <li><a href="#" class="ico_home"></a></li>
          <li><%=depth1 %></li>
          <li class="last"><%=depth2 %></li>
        </ul>
        <div class="user_div">
          <p><em>D&T팀</em> Kim Youngeun</p>
          <button class="btn_user ico_edit">Edit</button>
          <button class="btn_user ico_logout">Logout</button>
        </div>
      </div>
    </header>
    <div class="container">
      <%- include('left') %> 
      <div class="content_box_loading" style="display:none;">
          <div class="div_loading">
              <img src="../images/loading.png" style="width: 100px;"/>
          </div>
      </div>
      <div class="content_wrap">
        <%- body %>
      </div>
    </div><!-- //container -->
  </div>
<script type="text/javascript" src="js/<%= pathJs %>/licensekey.js"></script>
<script>
  datepicker();
  $('#' + '<%=depth1 %>').addClass('on');
  //contentBoxHeight();
</script>
</body>

</html>