<div class="left_nav_wrap">
    <ul class="left_nav">
        <li>
            <a href="#" class="depth1" id="INTRO"><span>INTRO</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=INTRO&depth2=INTRO&sampleId=0" class="depth2 <%= depth1 == 'INTRO' && depth2 == 'INTRO' ? 'on' : '' %>"><span>INTRO</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1" id="MAIN"><span>주요기능</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=MAIN&depth2=대시보드&sampleId=4" class="depth2 <%= depth1 == 'MAIN' && depth2 == '대시보드' ? 'on' : '' %>"><span>대시보드</span></a></li>
                <li><a href="/sample?depth1=MAIN&depth2=시공 스케줄&sampleId=5" class="depth2 <%= depth1 == 'MAIN' && depth2 == '시공 스케줄' ? 'on' : '' %>"><span>시공 스케줄</span></a></li>
                <li><a href="/sample?depth1=MAIN&depth2=출고요청서&sampleId=11" class="depth2 <%= depth1 == 'MAIN' && depth2 == '출고요청서' ? 'on' : '' %>"><span>출고요청서</span></a></li>
                <li><a href="/sample?depth1=MAIN&depth2=배송내역서&sampleId=21" class="depth2 <%= depth1 == 'MAIN' && depth2 == '배송내역서' ? 'on' : '' %>"><span>배송내역서</span></a></li>                
            </ul>
        </li>
        <li>
            <a href="#" class="depth1" id="BMS"><span>BMS</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=BMS&depth2=표준원가&sampleId=1" class="depth2 <%= depth1 == 'BMS' && depth2 == '표준원가' ? 'on' : '' %>"><span>표준원가</span></a></li>
                
                <li><a href="/sample?depth1=BMS&depth2=인원현황&sampleId=2" class="depth2 <%= depth1 == 'BMS' && depth2 == '인원현황' ? 'on' : '' %>"><span>인원현황</span></a></li>
                <li><a href="/sample?depth1=BMS&depth2=대시보드&sampleId=4" class="depth2 <%= depth1 == 'BMS' && depth2 == '대시보드' ? 'on' : '' %>"><span>대시보드</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1" id="HRM"><span>HRM</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=HRM&depth2=인사평가 진행 현황&sampleId=3" class="depth2 <%= depth1 == 'HRM' && depth2 == '인사평가 진행 현황' ? 'on' : '' %>"><span>인사평가 진행 현황</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1" id="OMS"><span>OMS</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=OMS&depth2=시공 스케줄&sampleId=5" class="depth2 <%= depth1 == 'OMS' && depth2 == '시공 스케줄' ? 'on' : '' %>"><span>시공 스케줄</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=대리점/제휴점관리&sampleId=6" class="depth2 <%= depth1 == 'OMS' && depth2 == '대리점/제휴점관리' ? 'on' : '' %>"><span>대리점/제휴점관리</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=대리점/제휴점상세&sampleId=7" class="depth2 <%= depth1 == 'OMS' && depth2 == '대리점/제휴점상세' ? 'on' : '' %>"><span>대리점/제휴점상세</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=대리점별매출실적&sampleId=8" class="depth2 <%= depth1 == 'OMS' && depth2 == '대리점별매출실적' ? 'on' : '' %>"><span>대리점별매출실적</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=장려금/수당관리&sampleId=9" class="depth2 <%= depth1 == 'OMS' && depth2 == '장려금/수당관리' ? 'on' : '' %>"><span>장려금/수당관리</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=주간일보관리&sampleId=10" class="depth2 <%= depth1 == 'OMS' && depth2 == '주간일보관리' ? 'on' : '' %>"><span>주간일보관리</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=출고요청서&sampleId=11" class="depth2 <%= depth1 == 'OMS' && depth2 == '출고요청서' ? 'on' : '' %>"><span>출고요청서</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=출고집계현황&sampleId=19" class="depth2 <%= depth1 == 'OMS' && depth2 == '출고집계현황' ? 'on' : '' %>"><span>출고집계현황</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=물류현황&sampleId=16" class="depth2 <%= depth1 == 'OMS' && depth2 == '물류현황' ? 'on' : '' %>"><span>물류현황</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=품목위치정보관리&sampleId=20" class="depth2 <%= depth1 == 'OMS' && depth2 == '품목위치정보관리' ? 'on' : '' %>"><span>품목위치정보관리</span></a></li>
                <li><a href="/sample?depth1=OMS&depth2=배송내역서&sampleId=21" class="depth2 <%= depth1 == 'OMS' && depth2 == '배송내역서' ? 'on' : '' %>"><span>배송내역서</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1" id="MAIN_JP"><span>主要機能</span></a>
            <ul class="depth2_div">
                <li><a href="/sample?depth1=MAIN_JP&depth2=INTRO&sampleId=24" class="depth2 <%= depth1 == 'MAIN_JP' && depth2 == 'INTRO' ? 'on' : '' %>"><span>INTRO</span></a></li>
                <li><a href="/sample?depth1=MAIN_JP&depth2=DASHBOARD&sampleId=25" class="depth2 <%= depth1 == 'MAIN_JP' && depth2 == 'DASHBOARD' ? 'on' : '' %>"><span>DASHBOARD</span></a></li>
                <li><a href="/sample?depth1=MAIN_JP&depth2=しこう スケジュール&sampleId=26" class="depth2 <%= depth1 == 'MAIN_JP' && depth2 == 'しこう スケジュール' ? 'on' : '' %>"><span>しこう スケジュール</span></a></li>
                <li><a href="/sample?depth1=MAIN_JP&depth2=しゅっこ ようせいしょ&sampleId=27" class="depth2 <%= depth1 == 'MAIN_JP' && depth2 == 'しゅっこ ようせいしょ' ? 'on' : '' %>"><span>しゅっこ ようせいしょ</span></a></li>
                <li><a href="/sample?depth1=MAIN_JP&depth2=はいそう うちわけしょ&sampleId=28" class="depth2 <%= depth1 == 'MAIN_JP' && depth2 == 'はいそう うちわけしょ' ? 'on' : '' %>"><span>はいそう うちわけしょ</span></a></li>                
            </ul>
        </li>
    </ul>
  </div>