<div class="left_nav_wrap">
    <ul class="left_nav">
        <li>
            <a href="#" class="depth1 on"><span>BMS</span></a>
            <ul class="depth2_div">
                <li><a href="/sample1?depth1=BMS&depth2=표준원가" class="depth2 <%= depth1 == 'BMS' && depth2 == '표준원가' ? 'on' : '' %>"><span>표준원가</span></a></li>
                
                <li><a href="/sample2?depth1=BMS&depth2=인원현황" class="depth2 <%= depth1 == 'BMS' && depth2 == '인원현황' ? 'on' : '' %>"><span>인원현황</span></a></li>
                <li><a href="/sample4?depth1=BMS&depth2=대시보드" class="depth2 <%= depth1 == 'BMS' && depth2 == '대시보드' ? 'on' : '' %>"><span>대시보드</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1 on"><span>HRM</span></a>
            <ul class="depth2_div">
                <li><a href="/sample3?depth1=HRM&depth2=인사평가 진행 현황" class="depth2 <%= depth1 == 'HRM' && depth2 == '인사평가 진행 현황' ? 'on' : '' %>""><span>인사평가 진행 현황</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="depth1 on"><span>OMS</span></a>
            <ul class="depth2_div">
                <li><a href="/sample3?depth1=OMS&depth2=시공 스케줄" class="depth2 <%= depth1 == 'OMS' && depth2 == '시공 스케줄' ? 'on' : '' %>""><span>시공 스케줄</span></a></li>
            </ul>
        </li>
    </ul>
  </div>